html{
    background-color: #29313c;
   
}

body {
    margin: 0;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
}

.icon {
    width: 10px;
    height: 15px;
    margin-top: 6px;
   
}

.header {
    display: flex;
    background-color: #88b3e0;
    height: 50px;
    gap: 2rem;
    align-items: center;
    justify-content: flex-start;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
h2 {
    padding-left: 2rem;
    font-size: 29px;
    color: white;
}
h1 {
    color: white;
    font-size: 20px;
}
.tap {
    border: 2px;
    background-color: grey;
    opacity: 0.6;
    width: 40%;
    border-radius: 7px;
    color: white;
    font-weight: 100;
    font-size: 14px;
}
.image-button {
    position: relative;
}
.view {
    width: 100%;
}
.tap {
    position: absolute;
   /* z-index: 1; */
    right: 10px; 
    bottom: 50px;
}
.middle {
    background-color: #29313c;
    color: #ffffff;
    padding-left: 2rem;
    height: 55px;
}
.location {
    display: flex;
}
small {
    font-size: 12px;
    margin-top: 5px;
}
.dark {
    background-color: #313946;
}
.info {
    color: white;
    font-size: 13px;
    margin-left: 2rem;
    padding-top: 10px;
}
.profile{
   display: flex;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   overflow: hidden;
   margin-left: 2rem;
   margin-top: 1rem;
}
.bottom{
    display: flex;
    gap:1rem;
    }
.users {
    color: #ffffff;
    margin-top: 1rem;
    font-size: 12px;
}
span {
    color: #88b3e0;
}
.trip {
    background-color: #88b3e0;
    color: #ffffff;
    width: 250px;
    height: 40px;
    margin-left: 2rem;
    margin-top: 1rem;
    border-radius: 20px;
    font-size: 13px;
}